*, *:after, *:before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url("./assets/fonts/AvenirLTStd-Roman.woff");
         url("./assets/fonts/AvenirLTStd-Roman.woff2");
}

@font-face {
    font-family: 'Avenir';
    src: url("./assets/fonts/AvenirLTStd-Book.woff");
         url("./assets/fonts/AvenirLTStd-Book.woff2");
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
}

.customText {
    font-family: Avenir-Roman;
    font-size: 14px;
    line-height: 1.43;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.customTextAvenir {
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #5f6773;
}

.redNotification {
    background: #e62c2c;
}
.greenNotification {
    background: #24cf5f;
}

.status {
    width: 8px;
    height: 8px;
    border: solid 2px #282e36;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.statusOnline {
    background: #25c14a;;
}

.statusUnread {
    background: #fff;
}

.statusOffline {
    background: #ff4646;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 32px 16px 34px;
    color: #fff;
    background: #171b20;
}

.headerNavigation {
    display: flex;
    align-items: center;
}

.headerNavigation > li {
    margin-right: 24px;
}

.headerNavigation > li:last-child {
    margin-right: 0;
}

.headerInfo {
    display: flex;
    align-items: center;
}


 /*сумніваюсь що це правильно*/
.headerNavigationItem {
    position: relative;
}

.headerNavigationItem:active:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -25px;
    border-bottom: 2px solid #24cf5f;
}

.headerHelpBar {
    display: flex;
}

.headerHelpBar > span {
    margin-right: 27px;
}

.headerHelpBar > span:last-child {
    margin-right: 32px;
}

.circleBorder {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: relative;
}

.notificationCount {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -7px;
    left: 70%;
    border-radius: 50%;
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleBorder > a,
.circleBorder > a > img {
    width: 16px;
    height: 16px;
}

.headerUserInfo {
    display: flex;
    align-items: center;
}

.avatarUser {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
}

.content {
    display: flex;
    height: calc(100vh - 64px);
}

.channels {
    background: rgba(23, 26, 30, 0.9);
    color: #fff;
}

.subHeaderChannels {
    font-size: 16px;
    padding: 16px 16px 0 32px;
    line-height: 1.25;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channels > div:first-child {
    margin-bottom: 34px;
}

.channels > div:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 24px;
}

.subHeaderChannels > img {
    width: 24px;
    height: 24px;
    border: solid 1px #40454b;
    cursor: pointer;
    border-radius: 50%;
}

 /*скоріше я неправильно зробив, що розтянув блок через ширину силки, як по іншому не знаю,*/
 /*хіба в % задавати ширину кожному блоку в мейні*/

.channels > ul > li > a {
    width: 240px;
}

 /*запитати бо цифри не в тому порядку як на макеті*/

.channels > ul > li > a {
    display: flex;
    justify-content: space-between;
    color: #5f6773;
    padding: 6px 16px 6px 32px;
    margin-bottom: 12px;
}

.channels > ul > li > a:active {
    background-color: rgba(255,255,255,0.03);
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
}
/*вже не перший раз зустрічаю таке що наприклад всі елементи мають однаковий падінг*/
/*але всередині є або дівайдер який розтягнутий на всю ширину блока або силка*/
/*яка підсвічується на всю ширину і ввесь час це роблю через костиль що*/
/*викидаю контейнер і всьому вручну прописую відступи це нормально ?*/

.messages {
    background: #111519;
    color: #fff;
    width: 340px;
}

.subHeaderMessages {
    box-shadow: inset 0 -1px 0 0 #3e444e;
    padding: 16px 16px 16px 24px;
    margin-bottom: 32px;
}

.subHeaderMessages > div {
    margin-bottom: 23px;
}

.subHeaderMessages > div > img {
    width: 24px;
    height: 24px;
    border: solid 1px #40454b;
    border-radius: 50%;
    cursor: pointer;
}

.subHeaderMessages > div,
.subHeaderMessages > ul {
    display: flex;
    justify-content: space-between;
}

.subHeaderMessages > div > span {
    line-height: 1.25;
    font-size: 16px;
}

.subHeaderMessages > ul > li > a {
    color: #5f6773;
}

.subHeaderMessages > ul > li > a:active {
    color: #fff;
    padding-bottom: 19px;
    box-shadow: inset 0 -2px 0 0 #c92020;
}

/*так само і тут розтянув*/
.user {
    width: 340px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.user {
    display: flex;
    align-items: center;
}

.user:active {
    background: #2473da;
}

.user:active > div > div > span {
    color: rgba(255,255,255,0.5);
}

.user > div:last-child {
    display: flex;
    width: 237px;
    justify-content: space-between;
    margin-left: 16px;
    padding-bottom: 16px;
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, 0.5);
}

.user > div {
    position: relative;
}

.user > div > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #b8bdc5;
}

.dots > .dot {
    margin-right: 1px;
}

.dots {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.userBlockInfo {
    background: rgba(25, 29, 33, 0.9);
    color: #fff;
}

.userBlockInfo,
.userBlockInfo > div {
    display: flex;
    flex-direction: column;
}

.userBlockInfo > div:nth-child(2),
.userBlockInfo > div:nth-child(3){
    margin: 24px 24px 0 24px;
    padding-bottom: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, 0.5);
}

.userBlockInfo > div:nth-child(2) > div,
.userBlockInfo > div:nth-child(3) > div{
    margin-bottom: 19px;
}

.userBlockInfo > div:nth-child(2) > div:last-child,
.userBlockInfo > div:nth-child(3) > div:last-child{
    margin-bottom: 0;
}
.userBlockInfo > div:nth-child(3) > div:last-child > a{
    color: #25c14a;
    line-height: 1.29;
}

.userBlockInfo > div:first-child {
    background: #14171a;
    align-items: center;
    padding: 24px 0;
}

.userBlockInfo > div:first-child > span {
    color: #fff;
    font-weight: 500;
    line-height: 1.29;
    margin-top: 16px;
    margin-bottom: 5px;
}

.userBlockInfo > div:first-child > span:last-child {
    color: rgba(128,135,143,0.9);
    line-height: 1.29;
    margin: 0;
}

.userBlockInfo > div > img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.userBlockInfo > div > div > p {
    line-height: 1.21;
    color: rgba(121,127,134,0.9);
}

.chat {
    border: solid 1px #979797;
    background: #f3f4f7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.chat > .userRequest:first-child {
    margin-top: auto;
}

.userRequest > div {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.userMessage {
    background: #1b76ed;
    padding: 16px;
    margin-left: 88px;
    color: #fff;
}

.userChatAvatar {
    width: 40px;
    height: 40px;
    /*margin-top: 10px;*/
    border-radius: 50%;
}

.userRequest > div > img {
    margin-right: 30px;
}

.userRequest > p {
    display: flex;
    justify-content: flex-end;
    margin-right: 86px;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 24px;
    color: #939393;
}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 6px solid #1b76ed;
    margin-right: 10px;
}

.userResponse > div {
    display: flex;
    align-items: center;
    margin-right: 88px;
}

.userResponse > div > img {
    margin-left: 33px;
    margin-right: 13px;
}

.userResponse > div > p {
    background: #fff;
    padding: 16px;
    margin-bottom: 8px;
}

.sendTime {
    margin-bottom: 24px;
    margin-left: 93px;
    font-size: 12px;
    line-height: 1.25;
    color: #939393;
}

.lastSend {
    margin-bottom: 0;
}

.triangleWhite {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 7px solid #ffF;
}

.downloadImage {
    height: 84px;
    width: 114px;
    position: absolute;
    top: 0;
    opacity: 0.6;
    background-color: #232323;
}

.imageContainer {
    position: relative;
    cursor: pointer;
    margin-left: 7px;
}

.userResponseImage {
    width: 114px;
    height: 84px;
    border-radius: 4px;
}

.imageContainer:after {
    content: '⌄';
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 39%;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
}

.imageDescription {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.imageDescription > a {
    color: #1b76ed;
}

.chat > div:nth-last-child(2) > div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.chat > div:nth-last-child(2) {
    margin-bottom: 89px;
}

.userInput {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 21px 0 19px 0;
}

.userInput > div {
    display: flex;
}

.customInput {
    border: none;
    width: 80%;
}

.customInput::placeholder {
    font-weight: 500;
    line-height: 1.29;
    color: #000;
}

.userInput > img {
    width: 11px;
    cursor: pointer;
    height: 22px;
    margin-left: 32px;
    margin-right: 24px;
}

.userInput > button {
    border: none;
    font-size: 14px;
    color: #25c14a;
    font-weight: 500;
    background: none;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 24px;
}

.stickyContainer {
    position: relative;

}
